*.class

# Package Files #
*.jar
*.war
*.ear
import java.io.IOException;
import java.util.logging.FileHandler;
import java.util.logging.Level;
import java.util.logging.Logger;
import java.util.logging.SimpleFormatter;

public class Error {

  public static void main(String[] args) {
    
	 //Creating the logger

    Logger logger = Logger.getLogger("Error logger");
    
    //Creating the file handler which will be used to record to a text file
    FileHandler fh;

    try {

      // configuring the logger with handler and formatter
    	
      fh = new FileHandler("D:\\MyLogFile.log", true);
      logger.addHandler(fh);
      logger.setLevel(Level.ALL);
      SimpleFormatter formatter = new SimpleFormatter();
      fh.setFormatter(formatter);

      // the following statement is used to log any messages   
      logger.log(Level.WARNING,"test error message");
      logger.log(Level.INFO,"this applicaiton is about to be closed");
      logger.log(Level.FINEST, "Third example of error");
      logger.log(Level.CONFIG,"Configuration message");
      logger.hashCode();
    } catch (SecurityException e) {
      e.printStackTrace();
    } catch (IOException e) {
      e.printStackTrace();
    }
  
  }

}